.card {
    z-index: 400;
    box-shadow: -4px 4px 3px #eeeeee;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.card:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

div.ad-title{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad-title h1, div.ad-title p {
    color: white;
    text-shadow: 3px 3px rgba(0,0,0,0.5);
}