@import url('./bootstrap-4-4-1.min.css');
@import url('./bootswatch.min.css');

.annonces.card {
    z-index: 400;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.annonces.card:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: -4px 4px 3px #eeeeee;
}

div.annonces-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;

    h1, p {
        color: white;
        text-shadow: 3px 3px rgba(0,0,0,0.5);
    }
}

div.card-body a, .linkText {
    text-decoration: none!important;
    color: inherit!important;
}

.avatar {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;

    &.avatar-medium {
        max-width: 50px;
        max-height: 50px;
    }

    &.avatar-mini {
        max-width: 50px;
        max-height: 50px;
    }
}

.datepicker table td.disabled, .datepicker table tr td.disabled:hover {
    color: red !important;
}

span.rating i {
    color: goldenrod;
}

.alert .btn {
    color: white!important;
}
